@import url('https://fonts.googleapis.com/css?family=Playfair+Display:1,300,400,400italic,500,700,700italic,900');

:root{

    --main-color:#d7c7ae;
    --primary-color: #8a6d46;
    --hover: #5a4d3e;
    --black:#2a201c;
    --white:#fff;
    --light-bg:#f3efec;
    --dark-bg:rgba(0,0,0,.7);
    --border:.1rem solid #aaa;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Playfair Display', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    transition: all .2s linear;
 }

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--white);
}
 
html::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}
 
section{
    padding: 5rem 7%;
}

.heading{
    text-align: center;
    /* color: var(--primary-color); */
    color: #BD703A;
    text-transform: capitalize;
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-size: 4rem;

}

.btn{
    margin-top: 1rem;
    display: inline-block;
    background-color: #BD703A;
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem 3rem;
}

.btn:hover{
    background: var(--hover);
}

/* heaer start*/

.header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    left: 0;
    /* background: var(--main-color); */
    background: #740000;
    z-index: 1000;
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    /* color: var(--black); */
    color: #e9d2d2;
    text-transform: capitalize;
}

.header .navbar #close-navbar {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        font-size: 4rem;
        cursor: pointer;
        color: var(--black);
        display: none;
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    /* color: var(--black); */
    color: #e9d2d2;
    text-transform: capitalize;
}

.header .navbar a:hover{
    padding-bottom: 0.5rem;
    /* color: var(--primary-color); */
    color: #BD703A;
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

/* heaer end*/


/* home start*/
.home{
    min-height: 100vh;
    background-image: url(../images/home-bg3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.home .content{
    max-width: 60rem;
}

.home .content span{
    font-size: 3rem;
    display: block;
    margin-top: 8%;
    letter-spacing: .5rem;
    padding-bottom: .5rem;
    color: var(--primary-color);
    text-transform: uppercase;
}

.home .content h3{
    color: #BD703A;
    font-size: 7.5rem;
    line-height: 8rem;
    font-weight: 900;
}

/* home end*/

/*about us start*/

.about{
    background-color: #F1F1F1;
    background-image:url(../images/about-left.png);
    background-repeat:no-repeat; 
    background-position:left bottom;
}

.about .about-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .about-container .image{
    flex:1 1 39rem;
}

.about .about-container .image img{
    width: 100%;
}
.about .about-container .content{
    flex:1 1 51rem;
    padding:5rem;
}

.about .about-container .content h3{
    font-size: 3rem;
    /* color:var(--primary-color); */
    color: #BD703A;
    text-transform: capitalize;
}

.about .about-container .content p{
    font-size: 1.6rem;
    color:#444;
    padding:1rem 0;
    line-height: 1.8;
}

.about .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    margin-top: 3rem;
 }
 
 .about .content .icons-container .icons{
    flex:1 1 16rem;
    text-align: center;
    /* background: var(--light-bg); */
    background-color: #740000cb;
    padding:3rem 2rem;
 }
 
 .about .content .icons-container .icons img{
    height: 5rem;
    color: #740000;
}
 
.about .content .icons-container .icons h3{
    padding-top: 1rem;
    font-size: 1.6rem;
    color:#ffffff;
    font-weight: normal;
    text-transform: capitalize;
 }

/*about us end*/

/*services start*/
.services{
    /* background-color: var(--main-color); */
    background-color: #740000;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 2rem;
}

.services .box-container .box{
    height: 100%;
    position: relative;
    overflow: hidden;
}

.services .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.services .box-container .box:hover img{
    transform: scale(1.1);
}

.services .box-container .box .content{
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: var(--dark-bg);
    display: none;
}

.services .box-container .box .content h3{
    text-align: center;
    font-size: 3rem;
    color: var(--white);
    padding-top: 40rem;
    text-transform: capitalize;
}

.services .box-container .box:hover .content{
    display: flex;

}

/*services start*/

/*styles start*/
.styles{
    background-color: #F1F1F1;
}

.styles .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;
}

.styles .box-container .box .image{
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.styles .box-container .box .image img{
    object-fit: cover;
}

.styles .box-container .box .content{
    text-align: center;
}

.styles .box-container .box .content .title{
    font-size: 2.5rem;
    color: var(--primary-color);
    text-transform: capitalize;
}

.styles .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #444;
    padding: 1rem 0;
}

/*styles end*/

/*pricing start*/
.pricing{
    background-image: url(../images/pricing.jpg);
    background-attachment: fixed;
}

.pricing .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pricing .box-container .box{
    height: 500px;
    width: 300px;
    margin: 20px 10px;
    box-shadow: var(--box-shadow);
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: #740000;
}

.pricing .box-container .box::before,
.pricing .box-container .box:after{
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    opacity: .5;
}

.pricing .box-container .box::before{
  background: #BD703A;
  top: -10%;
  left: 80%;
}

.pricing .box-container .box:after{
    background: #BD703A;
    bottom: -10%;
    right: 80%;
}

.pricing .box-container .box .title{
    margin: 30px 0;
    font-size: 26px;
    color: var(--main-color);
    text-transform: capitalize;
}

.pricing .box-container .box .price{
    height: 160px;
    width: 160px;
    color: var(--white);
    background-color: #BD703A;
    padding: 57px 0 0;
    margin: 0 auto 25px;
    border-radius: 50%;
}

.pricing .box-container .box .price .currency{
    font-size: 25px;
    line-height: 35px;
    font-weight: 300;
}

.pricing .box-container .box .price .amount{
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.pricing .box-container .box ul li{
    text-align: left;
    font-size: 16px;
    padding-left: 45px;
    margin: 20px auto;
    color: var(--white);
    list-style: none;
    text-transform: uppercase;
}

.pricing .box-container .box ul li i{
    color: var(--main-color);
    padding: 0 30px;
}

.pricing .box-container .box button{
    height: 40px;
    width: 140px;
    outline: none;
    border-radius: 50px;
    text-transform: capitalize;
    cursor: pointer;
    background: none;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-size: 17px;
    font-weight: bold;
}

.pricing .box-container .box button:hover{
    color: var(--white);
    background: var(--main-color);
}

/*pricing end*/

/* visit start */

.visit{
    background-image: url(../images/visit_1.png);
    background-size: cover;
    background-position: center;
}

.visit .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.visit .row .image{
    flex: 1 1 40rem;
}

.visit .row .image img{
    width: 100%;
}

.visit .row form{
    flex: 1 1 40rem;
    border: 0.1rem solid #f7f6f6;
    padding: 2rem;
}

.visit .row form h3{
    font-size: 2.5rem;
    text-align: center;
    color: #ffb30e;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.visit .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #ffffff;
    border: var(--border);
}

.visit .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: black;
    text-transform: none;
    background: none;
}

/*visit end*/

/*review start*/
.review{
    background-color: #F1F1F1;;
}
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--black);
    padding:2rem 0;
}

.review .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:var(--black);
    text-transform: capitalize;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--primary-color);
}

/*review end*/

/*fotter start*/
.footer {
    background: #740000;
    text-align: center;
  }
  
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: #BD703A;
    padding: 1rem 0;
  }
  
  .footer .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: white;
    padding: 1rem 0;
  }
  
  .footer .box-container .box .share {
    margin-top: 1rem;
  }
  
  .footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    font-size: 1.7rem;
    background-color: var(--primary-color);
    color: var(--white);
    margin-right: .3rem;
    text-align: center;
  }
  
  .footer .box-container .box .share a:hover {
    background-color: #F1F1F1;
  }
  
  .footer .box-container .box .link {
    font-size: 1.7rem;
    line-height: 2;
    color: #BD703A;
    padding: .5rem 0;
    display: block;
    text-decoration: underline;
  }
  
  .footer .box-container .box .link:hover {
    color: white;
    text-decoration: underline;
  }
  
  .footer .box-container .box .email {
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    border: 0.1rem solid var(--primary-color);
    margin-bottom: 1rem;
  }
  
  .footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: #ffffff;
    border-top: 0.1rem solid var(--primary-color);
  }
  
  .footer .credit span {
    color: #BD703A;
  }


@media (max-width:991px){
    html{
      font-size: 55%;  
    }
    .header .navbar a{
        font-size: 1.7rem;
    }
    section{
       padding: 3rem 2rem; 
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: fixed;
        top: 0;
        right: -10%;
        width: 30rem;
        background: var(--white);
        height: 100%;
        display: none;
    }

    .home .content h3{
        font-size: 5.5rem;
    }
}

@media (max-width:526px){
    html{
        font-size: 50%;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

}
